@model fitnessManagementSystem.App.Models.Branch

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Branch info";
}
<br />
<form asp-action="Details" method="get">
    <div class="p-4 rounded border">
        <input type="hidden" asp-for="Id" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Name"></label>
            </div>
            <div class="col-5">
                <input asp-for="Name" class="form-control" />
            </div>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <a asp-action="Index" class="btn btn-primary">Back To List</a>
             <a asp-action="Update" asp-route-id="@Model.Id" class="btn btn-success">Edit</a>
        </div>
    </div>
</form>
@section scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
