@using fitnessManagementSystem.App.Models;


<div id="app2">
    <div class="row">
        <div class="col-12">
            <div class="col-auto mr-auto">
                <a asp-action="Add" class="btn btn-info">
                    Add new branch
                    <i class="fa-sharp fa-solid fa-circle-plus mr-2"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(v, vIndex) in category.data">
                    <th scope="row">{{vIndex + 1}}</th>
                    <th>{{v.name}}</th>
                    <th>
                        <a href="" class="mr-2 ml-2">Edit</a>
                        <a href="">Delete</a>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

<script>

    let app = new Vue({
        el: '#app2',
      data: {
          category: {
              data:[]
            }
         },
         mounted: function () {
            this.GetAll();
        },
        computed: {},
        methods: {
            GetAll: function () {
            var self =  this;
            $.ajax({
                type: 'GET',
                url: "/Admin/Branch/GetAll",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                   self.category.data =  response.data;

                },
                error: function (err) {
                    console.log(err);
                }
            });
        }// methods end
      }
    })
</script>


